Repository shrwnsan/beacon-delivery-compass: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-audit, pytest-unit, pytest-integration, check-machine-paths

pip-audit:
  name: pip-audit
  entry: pip-audit
  language: system
  args:
  - --desc
  pass_filenames: false

pytest-unit:
  name: pytest unit tests (testmon)
  entry: pytest
  language: system
  args:
  - tests/unit
  - --testmon
  - -x
  - --tb=short
  - -q
  pass_filenames: false

pytest-integration:
  name: pytest integration tests (testmon)
  entry: pytest
  language: system
  args:
  - tests/integration
  - --testmon
  - -x
  - --tb=short
  - -q
  pass_filenames: false
  always_run: false

check-machine-paths:
  name: check for machine-specific paths
  entry: scripts/check_machine_paths.sh
  language: script
  pass_filenames: false

docs: add pytest-testmon CI/CD impact documentation
  docs/development/testing.md
Due: check-machine-paths

chore: cleanup unnecessary scripts from scripts directory
  CLAUDE.md
  Makefile
  docs/development/scripts.md
  docs/security-scanning-solutions.md
  scripts/fix_datetime_issues.py
  scripts/test_security.py
Due: check-machine-paths

feat: implement comprehensive performance optimizations and reduce code complexity
  src/beaconled/analytics/engine.py
  src/beaconled/core/analyzer.py
  src/beaconled/formatters/chart.py
  src/beaconled/formatters/heatmap.py
  src/beaconled/utils/date_utils.py
  src/beaconled/utils/performance.py
  tests/unit/test_heatmap_formatter.py
Due: pytest-unit, pytest-integration, check-machine-paths

chore: add .testmondata* files to .gitignore
  .gitignore
Due: check-machine-paths

feat: implement test coverage tracking for extended format analytics
  docs/extended-format-guide.md
  pyproject.toml
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/analytics/engine.py
  src/beaconled/core/models.py
  src/beaconled/formatters/extended.py
  tests/unit/test_coverage_analyzer.py
  tests/unit/test_extended_formatter_coverage.py
Due: pip-audit, pytest-unit, pytest-integration, check-machine-paths

fix: add missing types-defusedxml dependency for CI
  pyproject.toml
Due: pip-audit, check-machine-paths

fix: add missing type ignore comment for mypy
  src/beaconled/analytics/coverage_analyzer.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: resolve import error in coverage analyzer
  src/beaconled/analytics/coverage_analyzer.py
Due: pytest-unit, pytest-integration, check-machine-paths

style: apply black formatting to coverage tracking code
  CLAUDE.md
  src/beaconled/analytics/engine.py
  tests/unit/test_coverage_analyzer.py
  tests/unit/test_extended_formatter_coverage.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: remove unnecessary str() conversions in logging statements
  src/beaconled/core/analyzer.py
  src/beaconled/formatters/extended.py
Due: pytest-unit, pytest-integration, check-machine-paths

feat: implement test coverage tracking for extended format analytics
  CLAUDE.md
  docs/extended-format-guide.md
  pyproject.toml
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/analytics/engine.py
  src/beaconled/core/analyzer.py
  src/beaconled/core/models.py
  src/beaconled/formatters/extended.py
  tests/unit/test_coverage_analyzer.py
  tests/unit/test_extended_formatter_coverage.py
Due: pip-audit, pytest-unit, pytest-integration, check-machine-paths

chore: bump version to v0.5.0
  CHANGELOG.md
  pyproject.toml
Due: pip-audit, check-machine-paths

chore: migrate license
  LICENSE
  README.md
  pyproject.toml
  src/beaconled/__init__.py
  src/beaconled/analytics/__init__.py
  src/beaconled/analytics/collaboration_analyzer.py
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/analytics/engine.py
  src/beaconled/analytics/models.py
  src/beaconled/analytics/quality_analyzer.py
  src/beaconled/analytics/risk_analyzer.py
  src/beaconled/analytics/time_analyzer.py
  src/beaconled/cli.py
  src/beaconled/core/__init__.py
  src/beaconled/core/analyzer.py
  src/beaconled/core/date_errors.py
  src/beaconled/core/date_utils.py
  src/beaconled/core/models.py
  src/beaconled/exceptions.py
  src/beaconled/formatters/__init__.py
  src/beaconled/formatters/ascii_chart.py
  src/beaconled/formatters/base_formatter.py
  src/beaconled/formatters/chart.py
  src/beaconled/formatters/extended.py
  src/beaconled/formatters/heatmap.py
  src/beaconled/formatters/json_format.py
  src/beaconled/formatters/rich_formatter.py
  src/beaconled/formatters/standard.py
  src/beaconled/integrations/__init__.py
  src/beaconled/utils/__init__.py
  src/beaconled/utils/date_utils.py
  src/beaconled/utils/performance.py
Due: pip-audit, pytest-unit, pytest-integration, check-machine-paths

fix: update pip to 25.3.1 to resolve security vulnerability GHSA-4xh5-x5gv-qwph
  .github/workflows/ci.yml
  .github/workflows/product-analytics.yml
Due: check-machine-paths

fix: strengthen path validation to prevent directory traversal
  src/beaconled/core/analyzer.py
Due: pytest-unit, pytest-integration, check-machine-paths

feat: add strict mode for better error handling
  src/beaconled/cli.py
  src/beaconled/core/analyzer.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: bypass GitAnalyzer.__init__ in unit tests
  tests/unit/test_analyzer_error_paths.py
Due: pytest-unit, check-machine-paths

fix: bypass GitAnalyzer.__init__ in remaining unit tests
  tests/unit/test_analyzer_error_paths.py
Due: pytest-unit, check-machine-paths

ci: fix CI pipeline issues
  .github/workflows/ci.yml
  pyproject.toml
Due: pip-audit, check-machine-paths

feat: implement comprehensive security fixes for directory traversal vulnerability
  src/beaconled/core/analyzer.py
  tests/unit/test_analyzer_security.py
  tests/unit/test_security_validation.py
Due: pytest-unit, pytest-integration, check-machine-paths

feat: add configurable strict mode to prevent silent failures
  src/beaconled/cli.py
  src/beaconled/core/analyzer.py
Due: pytest-unit, pytest-integration, check-machine-paths

refactor: extract methods from get_range_analytics to reduce complexity
  src/beaconled/core/analyzer.py
  tests/unit/test_analyzer_refactored_methods.py
Due: pytest-unit, pytest-integration, check-machine-paths

feat(security): implement error message sanitization for information disclosure protection
  src/beaconled/core/analyzer.py
  src/beaconled/core/date_errors.py
  src/beaconled/exceptions.py
  src/beaconled/utils/security.py
  tests/test_security_sanitization.py
  tests/unit/test_cli.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix(security): address critical and medium security issues from review
  SECURITY.md
  docs/development/security/README.md
  docs/development/security/exception-handling-guidelines.md
  docs/development/security/implementation.md
  src/beaconled/utils/security.py
  tests/test_security_sanitization.py
Due: pytest-unit, check-machine-paths

chore: remove failing test_analyzer_security.py
  tests/unit/test_analyzer_security.py
Due: pytest-unit, check-machine-paths

refactor: implement code quality improvements from Issue #49
  src/beaconled/analytics/collaboration_analyzer.py
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/analytics/engine.py
  src/beaconled/analytics/quality_analyzer.py
  src/beaconled/analytics/risk_analyzer.py
  src/beaconled/analytics/time_analyzer.py
  src/beaconled/config.py
  src/beaconled/core/analyzer.py
  src/beaconled/core/models.py
  src/beaconled/exceptions.py
  src/beaconled/formatters/chart.py
  src/beaconled/formatters/extended.py
  src/beaconled/formatters/heatmap.py
  src/beaconled/formatters/rich_formatter.py
  src/beaconled/utils/date_utils.py
  src/beaconled/utils/performance.py
  src/beaconled/utils/security.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: address PR #57 review feedback - improve test compatibility and security
  src/beaconled/analytics/collaboration_analyzer.py
  src/beaconled/analytics/engine.py
  src/beaconled/analytics/quality_analyzer.py
  src/beaconled/analytics/risk_analyzer.py
  src/beaconled/config.py
  src/beaconled/core/analyzer.py
  src/beaconled/core/models.py
  src/beaconled/exceptions.py
  src/beaconled/formatters/heatmap.py
  src/beaconled/formatters/rich_formatter.py
  src/beaconled/utils/date_utils.py
  tests/unit/test_analyzer.py
  tests/unit/test_analyzer_coverage.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: address PR #57 review feedback
  src/beaconled/core/analyzer.py
  tests/test_utils.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: replace problematic mock test with tempfile approach
  tests/unit/test_analyzer_coverage.py
Due: pytest-unit, check-machine-paths

style: apply ruff-format code formatting
  src/beaconled/core/analyzer.py
  tests/test_utils.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: address Amp's PR #57 review feedback
  pyproject.toml
  src/beaconled/core/analyzer.py
  tests/unit/test_analyzer_coverage.py
  tests/unit/test_analyzer_error_paths.py
  tests/unit/test_range_analytics.py
Due: pip-audit, pytest-unit, pytest-integration, check-machine-paths

fix: update tests to work with new path validation logic
  pyproject.toml
  tests/unit/test_analyzer_coverage.py
  tests/unit/test_analyzer_error_paths.py
  tests/unit/test_analyzer_refactored_methods.py
Due: pip-audit, pytest-unit, check-machine-paths

style: apply final formatting improvements to test files
  tests/unit/test_analyzer_coverage.py
  tests/unit/test_analyzer_error_paths.py
  tests/unit/test_analyzer_refactored_methods.py
Due: pytest-unit, check-machine-paths

refactor(ci): streamline CI/CD configuration to reduce maintenance overhead
  .github/workflows/ci.yml
  .github/workflows/performance.yml
  .github/workflows/product-analytics.yml
  requirements.txt
Due: check-machine-paths

fix: address PR #58 review feedback
  SECURITY.md
  pyproject.toml
  tests/unit/test_security_validation.py
Due: pip-audit, pytest-unit, check-machine-paths

feat(security): implement comprehensive CI/CD security hardening
  .github/workflows/ci.yml
  scripts/security_validation.py
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/core/analyzer.py
  src/beaconled/utils/security.py
  tests/unit/test_security_validation.py
Due: pytest-unit, pytest-integration, check-machine-paths

fix: resolve test failures in security validation
  tests/unit/test_security_validation.py
Due: pytest-unit, check-machine-paths

feat(security): implement comprehensive CI/CD security hardening (Issue #54) (#60)
  .github/workflows/ci.yml
  scripts/security_validation.py
  src/beaconled/analytics/coverage_analyzer.py
  src/beaconled/core/analyzer.py
  src/beaconled/utils/security.py
  tests/unit/test_security_validation.py
Due: pytest-unit, pytest-integration, check-machine-paths

Path conditions:
  pip-audit: any of: pyproject\.toml$
  pytest-unit: any of: ^src/beaconled/.*\.py$|^tests/unit/.*\.py$
  pytest-integration: any of: ^src/beaconled/(core|cli|analytics).*\.py$|^tests/integration/.*\.py$
  check-machine-paths: any of: .*
